<section>
  <div class="section-header" data-aos="fade-right">
    <span class="hor-line"></span>
    <h2>Contact</h2>
  </div>
  <main data-aos="fade-left" data-aos-duration="700">
    <div class="description">
      <h3>Got a Problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <div class="container">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div>
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Your name.."
            [(ngModel)]="contactData.name"
            #name="ngModel"
            required
          />
          @if (!name.valid && name.touched) {
          <small>*Please enter your name.</small>
          }
        </div>
        <div>
          <label for="email">E-Mail</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Your email.."
            [(ngModel)]="contactData.email"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            #email="ngModel"
            required
          />
          @if (!email.valid && email.touched) {
          <small>*Please enter your email.</small>
          }
        </div>
        <div>
          <label for="message">Message</label>
          <textarea
            id="message"
            name="message"
            placeholder="Write something.."
            style="height: 200px"
            [(ngModel)]="contactData.message"
            #message="ngModel"
            minlength="4"
            required
          ></textarea>
          @if (!message.valid && message.touched && message.value.length <= 0) {
          <small>*Please enter a message.</small>
          } @if (!message.valid && message.touched && message.value.length < 4
          && message.value.length > 0) {
          <small>*Message must be at least 4 chracters long.</small>
          }
        </div>
        <div class="accept-privacy">
          <div>
            <input
              type="checkbox"
              id="check-privacy"
              name="check"
              [(ngModel)]="contactData.checked"
              #checked="ngModel"
              required
            />
            <label for="check-privacy"
              >I've read the <span>privacy police</span> and agree to the
              processing of my data as outlined.</label
            >
          </div>
          @if (!checked.valid && checked.touched) {
          <small>*Please accept the privacy police.</small>
          }
        </div>
        <div class="submit-container">
          <input type="submit" value="Send message :&#41;" />
        </div>
      </form>
    </div>
  </main>
  <img src="assets/img/contact-shadow.png" alt="" class="contact-shadow" />
</section>
