@import "./../../shared/variables.scss";

section {
  margin-top: 245px;
  position: relative;
  padding-bottom: 100px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #4b47ff;
  cursor: pointer;
}

.section-header {
  @include dFlex($jc: flex-start);

  > .hor-line {
    width: 50px;
    margin-right: 50px;
    height: 4px;
    background-color: $main-focus;
    border-radius: 0 4px 4px 0;
  }

  > h2 {
    font-size: 90px;
  }
}

main {
  width: 100%;
  padding: 0 100px;
  margin-top: 85px;
  @include dFlex($ai: flex-start, $g: 150px);

  > .description {
    flex: 1;

    > h3 {
      font-size: 32px;
      margin-bottom: 35px;
    }

    > p {
      font-size: 16px;
      margin-bottom: 25px;
    }
  }
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #4b47ff;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  resize: none;
  background-color: rgba($color: #000000, $alpha: 0);
  color: white;
  font-size: 16px;
}

.fixed-height-small {
  height: 100px;
}

.fixed-height-big {
  height: 265px;
}

small {
  color: red;
}

.submit-container {
  width: 100%;
  display: flex;
  align-items: center;
}

input[type="submit"] {
  background-color: $main-focus;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 23px;
  box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
}

input[type="submit"]:hover {
  background-color: #4b47ff;
}

input[disabled] {
  background-color: grey;
}

.container {
  border-radius: 5px;
  flex: 1;
}

// invalid styles

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

//valid styles
input.ng-valid,
textarea.ng-valid {
  border: 1px solid green;
}

input:focus,
textarea:focus {
  outline: none;
}

.accept-privacy {
  min-height: 75px;
  > div {
    @include dFlex($jc: flex-start, $g: 8px);

    > label {
      font-size: 14px;
    }
  }
}

#check-privacy {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid $main-focus;
  border-radius: 2px;
  cursor: pointer;
}

input[type="checkbox"]:checked:before {
  content: "✓";
  color: #1cdae6;
  display: block;
  text-align: center;
  line-height: 16px;
}

.contact-shadow {
  position: absolute;
  bottom: -200px;
  left: -200px;
  max-width: 500px;
  z-index: -1;
  transform: rotate(90deg);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 35px;
  padding: 4px;
  margin-left: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: $main-focus;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.checkmark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: $main-focus;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $main-focus;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 0 8px 16px;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $main-focus;
  fill: $main-bg;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}

@media (max-width: 1250px) {
  .section-header {
    > h2 {
      font-size: 72px;
    }
  }

  main {
    gap: 50px;
    > .description {
      > h3 {
        font-size: 28px;
        margin-bottom: 35px;
      }

      > p {
        font-size: 16px;
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: 1250px) {
  main {
    flex-direction: column;
    gap: 16px;
    > .description {
      max-width: 620px;
      > h3 {
        font-size: 28px;
        margin-bottom: 35px;
      }
    }
  }
  .contact-shadow {
    bottom: -350px;
    left: auto;
    right: -200px;
    transform: rotate(-20deg);
    opacity: 0.7;
  }
}

@media (max-width: 599px) {
  .section-header {
    > .hor-line {
      width: 20px;
      margin-right: 15px;
    }
  }
  main {
    padding: 0 40px;
    margin-top: 36px;
    > .description {
      > h3 {
        font-size: 28px;
        margin-bottom: 25px;
      }
    }
  }
  .contact-shadow {
    bottom: -200px;
    left: auto;
    right: -100px;
    max-width: 300px;
  }
}

@media (max-width: 450px) {
  .section-header {
    > h2 {
      font-size: 45px;
    }
  }

  .submit-container {
    margin-top: 16px;
  }

  main {
    padding: 0 28px;
    > .description {
      > h3 {
        font-size: 23px;
        margin-bottom: 25px;
      }
    }
  }

  input[type="submit"] {
    font-size: 16px;
  }
}
