@import "./../../shared/variables.scss";

section {
  margin-top: 245px;
  position: relative;
  padding-bottom: 100px;
  overflow: hidden;
}

.section-header {
  @include dFlex($jc: flex-start);

  > .hor-line {
    width: 50px;
    margin-right: 50px;
    height: 4px;
    background-color: $main-focus;
    border-radius: 0 4px 4px 0;
  }

  > h2 {
    font-size: 90px;
  }
}

main {
  width: 100%;
  padding: 0 100px;
  margin-top: 85px;
  @include dFlex($ai: flex-start, $g: 150px);

  > .description {
    flex: 1;

    > h3 {
      font-size: 32px;
      margin-bottom: 35px;
    }

    > p {
      font-size: 16px;
      margin-bottom: 25px;
    }
  }
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #4b47ff;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  resize: none;
  background-color: rgba($color: #000000, $alpha: 0);
  color: white;
}

.fixed-height-small {
  height: 100px;
}

.fixed-height-big {
  height: 265px;
}

small {
  color: red;
}

.submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  background-color: $main-focus;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 23px;
  box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
}

input[type="submit"]:hover {
  background-color: #4b47ff;
}

.container {
  border-radius: 5px;
  flex: 1;
}

// invalid styles

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

//valid styles
input.ng-valid,
textarea.ng-valid {
  border: 1px solid green;
}

input:focus,
textarea:focus {
  outline: none;
}

.accept-privacy {
  min-height: 75px;
  > div {
    @include dFlex($jc: flex-start, $g: 8px);

    > label {
      font-size: 14px;
    }
  }
}

#check-privacy {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid $main-focus;
  border-radius: 2px;
  cursor: pointer;
}

input[type="checkbox"]:checked:before {
  content: "✓";
  color: #1cdae6;
  display: block;
  text-align: center;
  line-height: 16px;
}

.contact-shadow {
  position: absolute;
  bottom: -200px;
  left: -200px;
  max-width: 500px;
  z-index: -1;
  transform: rotate(90deg);
}

@media (max-width: 1250px) {
  .section-header {
    > h2 {
      font-size: 72px;
    }
  }

  main {
    gap: 50px;
    > .description {
      > h3 {
        font-size: 28px;
        margin-bottom: 35px;
      }

      > p {
        font-size: 16px;
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: 1250px) {
  main {
    flex-direction: column;
    gap: 16px;
    > .description {
      max-width: 620px;
      > h3 {
        font-size: 28px;
        margin-bottom: 35px;
      }
    }
  }
  .contact-shadow {
    bottom: -350px;
    left: auto;
    right: -200px;
    transform: rotate(-20deg);
    opacity: 0.7;
  }
}

@media (max-width: 599px) {
  .section-header {
    > .hor-line {
      width: 20px;
      margin-right: 15px;
    }
  }
  main {
    padding: 0 40px;
    margin-top: 36px;
    > .description {
      > h3 {
        font-size: 28px;
        margin-bottom: 25px;
      }
    }
  }
  .contact-shadow {
    bottom: -200px;
    left: auto;
    right: -100px;
    max-width: 300px;
  }
}

@media (max-width: 450px) {
  .section-header {
    > h2 {
      font-size: 45px;
    }
  }

  main {
    padding: 0 28px;
    > .description {
      > h3 {
        font-size: 23px;
        margin-bottom: 25px;
      }
    }
  }

  input[type="submit"] {
    font-size: 16px;
  }
}
