<section>
  <div class="section-header" data-aos="fade-right" data-aos-offset="530">
    <span class="hor-line"></span>
    <h2>Contact</h2>
  </div>
  <main data-aos="fade-up" data-aos-offset="530" data-aos-duration="700">
    <div class="description">
      <h3>Got a Problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <div class="container">
      <form>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name.." />

        <label for="email">E-Mail</label>
        <input type="text" id="email" name="email" placeholder="Your email.." />

        <label for="message">Message</label>
        <textarea
          id="message"
          name="message"
          placeholder="Write something.."
          style="height: 200px"
        ></textarea>

        <input type="submit" value="Submit" />
      </form>
    </div>
  </main>
</section>
