<section>
  <div class="section-header" data-aos="fade-right">
    <span class="hor-line"></span>
    <h2>Contact</h2>
  </div>
  <main data-aos="fade-left" data-aos-duration="700">
    <div class="description">
      <h3>Got a Problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <div class="container">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Your name.."
            formControlName="name"
          />
          @if (contactForm.controls.name.invalid &&
          (contactForm.controls.name.touched ||
          contactForm.controls.name.dirty)) {
          <small>*Please enter your name.</small>
          }
        </div>
        <div>
          <label for="email">E-Mail</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Your email.."
            formControlName="email"
          />
          @if (contactForm.controls.email.invalid &&
          (contactForm.controls.email.touched ||
          contactForm.controls.email.dirty)) {
          <small>*Please enter your email.</small>
          }
        </div>
        <div>
          <label for="message">Message</label>
          <textarea
            id="message"
            name="message"
            placeholder="Write something.."
            style="height: 200px"
            formControlName="message"
          ></textarea>
          @if (contactForm.controls.message.invalid &&
          (contactForm.controls.message.touched ||
          contactForm.controls.message.dirty)) {
          @if(contactForm.controls.message.errors?.['required']) {
          <small>*Please enter a message.</small>
          } @if (contactForm.controls.message.errors?.['minlength']) {
          <small>*Message must be at least 4 chracters long.</small>
          } }
        </div>
        <div class="accept-privacy">
          <div>
            <input type="checkbox" id="check-privacy" formControlName="check" />
            <label for="check-privacy"
              >I've read the <span>privacy police</span> and agree to the
              processing of my data as outlined.</label
            >
          </div>
          @if (contactForm.controls.check.invalid &&
          (contactForm.controls.check.touched ||
          contactForm.controls.check.dirty)) {
          <small>*Please accept the privacy police.</small>
          }
        </div>
        <div class="submit-container">
          <input type="submit" value="Send message :&#41;" />
        </div>
      </form>
    </div>
  </main>
  <img src="assets/img/contact-shadow.png" alt="" class="contact-shadow" />
</section>
