<div class="container">
  <div class="nav-wrapper">
    <h2>Felix</h2>
    <nav>
      <img
        [src]="languageService.currentFlag"
        alt=""
        (click)="toggleLanguageSelect()"
        class="flag-img"
      />
      <div class="language-select" [class.open]="isOpen">
        <span (click)="changeLanguage('en')"
          ><img src="assets/img/american-flag.png" alt="" class="flag-img" />
          <p>EN</p></span
        >
        <span (click)="changeLanguage('de')"
          ><img src="assets/img/german-flag.png" alt="" class="flag-img" />
          <p>DE</p></span
        >
      </div>
      <a href="#about-me">{{ "header.aboutMe" | translate }}</a>
      <a href="#my-skills">Skills</a>
      <a href="#portfolio">Portfolio</a>
      <div
        class="burger-menu"
        id="burger-menu"
        (click)="toggleMenu()"
        [ngClass]="{ open: menuOpen }"
      >
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="top-line"
            d="M1 2H31"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
          />
          <path
            class="middle-line"
            d="M1 16H31"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
          />
          <path
            class="bottom-line"
            d="M1 30H31"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>
    </nav>
  </div>
</div>
