<section>
  <div class="about-shadow">
    <img src="assets/img/about-me-shadow.png" alt="" class="about-shadow-img" />
  </div>
  <div class="left-section" data-aos="fade-right">
    <h2>About me</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit ad
      hic vitae atque blanditiis facere odio eligendi exercitationem tempore
      unde minima provident similique ipsum maxime quia consequuntur, eum iusto
      soluta sit neque suscipit! Nemo consequatur sed animi?
    </p>
    <div class="bulb-text">
      <img src="assets/img/bulb.png" alt="" />
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates
        dolorem, optio aut nam dicta asperiores quis tempora repellendus
        assumenda in.
      </p>
    </div>
    <div class="puzzle-text">
      <img src="assets/img/puzzle.png" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ipsa magni
        nisi error neque, optio consectetur corporis perspiciatis officia natus?
      </p>
    </div>
  </div>
  <div class="right-section" data-aos="fade-left" data-aos-offset="-50">
    <img src="assets/img/profile-close.png" alt="" />
    <span class="hor-line"></span>
  </div>
</section>
