<div id="generator_results">
  <div id="generator_results_content">
    <h1>{{ "privacy.privacyHeader" | translate }}</h1>
    <br />
    <h2>{{ "privacy.privacyOne" | translate }}</h2>
    <p>
      {{ "privacy.privacyOneBody" | translate }}
    </p>
    <br />
    <p class="generator_user_input">
      Felix Wahls<br />
      Baumpieperweg 6<br />
      21149 Hamburg<br />
      Telefon: 0172-4558020<br />
      E-Mail: developer&#64;felix-wahls.com
    </p>
    <br />
    <h2>{{ "privacy.privacyTwo" | translate }}</h2>
    <p>
      {{ "privacy.privacyTwoBody" | translate }}
    </p>
    <ul>
      <li>
        {{ "privacy.privacyTwoListOne" | translate }}
      </li>
      <li>{{ "privacy.privacyTwoListTwo" | translate }}</li>
      <li>{{ "privacy.privacyTwoListThree" | translate }}</li>
      <li>
        {{ "privacy.privacyTwoListFour" | translate }}
      </li>
      <li>
        {{ "privacy.privacyTwoListFive" | translate }}
      </li>
      <li>
        {{ "privacy.privacyTwoListSix" | translate }}
      </li>
    </ul>
    <p>
      {{ "privacy.privacyTwoBodyTwo" | translate }}
    </p>
    <p>
      {{ "privacy.privacyTwoBodyThree" | translate }}
    </p>
    <p>
      {{ "privacy.privacyTwoBodyFour" | translate }}
      <a
        href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
        >https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a
      >.
    </p>
    <br />
    <h2>{{ "privacy.privacyThree" | translate }}</h2>
    <p>
      {{ "privacy.privacyThreeBodyOne" | translate }}
    </p>
    <p>
      {{ "privacy.privacyThreeBodyTwo" | translate }}
    </p>
    <p>
      {{ "privacy.privacyThreeBodyThree" | translate }}
    </p>
    <p>
      {{ "privacy.privacyThreeBodyFour" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.privacyFour" | translate }}</h4>
    <p>
      {{ "privacy.privacyFourBodyOne" | translate }}
    </p>
    <p>
      {{ "privacy.privacyFourBodyTwo" | translate }}
    </p>
    <p>
      {{ "privacy.privacyFourBodyThree" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.privacyFive" | translate }}</h4>
    <p>
      {{ "privacy.privacyFiveBody" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.privacySix" | translate }}</h4>
    <p>
      {{ "privacy.privacySixBodyOne" | translate }}
    </p>
    <p>
      {{ "privacy.privacySixBodyTwo" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.privacySeven" | translate }}</h4>
    <p>
      {{ "privacy.privacySevenBody" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.privacyEight" | translate }}</h4>
    <p>
      {{ "privacy.privacyEightBody" | translate }}
    </p>
    <br />
    <h2>{{ "privacy.privacyNine" | translate }}</h2>
    <br />
    <h3>{{ "privacy.privacyNineHeader" | translate }}</h3>
    <p>
      {{ "privacy.privacyNineBodyOne" | translate }}
    </p>
    <p>
      {{ "privacy.privacyNineBodyTwo" | translate }}
    </p>
    <br />
    <h3>{{ "privacy.privacyTen" | translate }}</h3>
    <p class="generator_user_input">
      Felix Wahls<br />
      Baumpieperweg 6<br />
      21149 Hamburg<br />
      Telefon: 0172-4558020<br />
      E-Mail: developer&#64;felix-wahls.com
    </p>
    <br />
    <h2>{{ "privacy.privacyEleven" | translate }}</h2>
    <p>
      {{ "privacy.privacyElevenBody" | translate }}
    </p>
    <br />
    <h2>{{ "privacy.privacyTwelve" | translate }}</h2>
    <p>
      {{ "privacy.privacyTwelveBody" | translate }}
    </p>
    <br />
    <h2>{{ "privacy.privacyThirteen" | translate }}</h2>
    <p>
      <em
        >{{ "privacy.privacyThirteenBodyOne" | translate }}
        <a
          href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
          target="_blank"
          rel="noopener dofollow"
          >{{ "privacy.privacyThirteenBodyTwo" | translate }}</a
        >
        (Version #2024-08-06).</em
      >
    </p>
  </div>
</div>
