<section class="my-skills">
  <button class="contact-btn mobile-button">Get in Touch</button>
  <div class="skills" data-aos="fade-right">
    @for (skill of skills; track skill) {
    <div class="single-skill">
      <img src="assets/img/{{ skill.img }}.png" alt="" />
      <p>{{ skill.name }}</p>
    </div>
    }
  </div>
  <div class="skills-headline" data-aos="fade-left">
    <div class="heading">
      <h2>{{ "mySkills.headline" | translate }}</h2>
      <span class="hor-line"></span>
    </div>
    <p>
      {{ "mySkills.body" | translate }}
    </p>
    <a href="#contact" class="contact-link desktop-btn">{{
      "mySkills.button" | translate
    }}</a>
  </div>
</section>
