@import "./../../shared/variables.scss";

.mobile-button {
  display: none;
}

section {
  width: 100%;
  @include dFlex($jc: space-between, $g: 48px);
  padding-left: 100px;
  margin-top: 270px;

  > .skills {
    @include dFlex($jc: flex-start);
    row-gap: 54px;
    column-gap: 123px;
    flex-wrap: wrap;
    max-width: 60%;

    > .single-skill {
      width: 88px;
      @include dFlex($g: 16px);
      flex-direction: column;
      cursor: pointer;

      > img {
        transition: all 125ms ease-in-out;
      }

      > p {
        text-align: center;
      }

      &:hover {
        > img {
          transform: translateY(-20px);
          filter: brightness(1.2) drop-shadow(0 0 30px rgba(114, 71, 255, 0.78));
        }
      }
    }
  }

  > .skills-headline {
    @include dFlex($g: 34px);
    flex-direction: column;
    min-width: 571px;
    padding-left: 16px;

    > .heading {
      @include dFlex($jc: flex-end, $g: 42px);
      width: 100%;

      > h2 {
        font-size: 90px;
      }

      > .hor-line {
        width: 58px;
        height: 4px;
        border-radius: 4px 0 0 4px;
        background-color: #4b47ff;
      }
    }

    > p {
      padding-right: 100px;
      text-align: justify;
    }
  }
}

.contact-btn {
  padding: 15px 30px;
  background-color: $main-focus;
  border: unset;
  color: white;
  font-size: 23px;
  border-radius: 10px;
  transition: all 125ms ease-in-out;
  cursor: pointer;
  box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 0.25);

  &:hover {
    background-color: #4b47ff;
    transform: scale(110%);
  }
}

@media (max-width: 1250px) {
  .mobile-button {
    display: block;
  }

  .desktop-btn {
    display: none;
  }

  section {
    flex-direction: column-reverse;
    padding-left: 0;

    > .skills-headline {
      width: 100%;
      padding-left: 0;

      > .heading {
        @include dFlex($jc: flex-end, $g: 42px);
        width: 100%;

        > h2 {
          font-size: 72px;
        }

        > .hor-line {
          width: 58px;
          height: 4px;
          border-radius: 4px 0 0 4px;
          background-color: #4b47ff;
        }
      }

      > p {
        max-width: 70%;
        padding-right: 40px;
        align-self: flex-end;
        text-align: end;
      }
    }

    > .skills {
      @include dFlex($jc: center);
      max-width: 100%;
      padding: 0 100px;
      row-gap: 54px;
      column-gap: 123px;
    }
  }
}

@media (max-width: 599px) {
  section {
    > .skills {
      padding: 0 24px;
      row-gap: 32x;
      column-gap: 70px;
    }
    > .skills-headline {
      min-width: 0;

      > p {
        max-width: 90%;
      }
    }
  }
}

@media (max-width: 450px) {
  section {
    > .skills-headline {
      > .heading {
        gap: 16px;
        > h2 {
          font-size: 45px;
        }
        > .hor-line {
          width: 36px;
        }
      }
    }
  }
}
